{:kotoba.app/id "cloud.itonami.isic-9103", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidrokfmsgxrnv335cgtsvkm4ebgjuhzlscuoco3zlbvozonxyvjbi", :kotoba.app/embed-url "ipfs://bafkreidrokfmsgxrnv335cgtsvkm4ebgjuhzlscuoco3zlbvozonxyvjbi", :published {:archive "https://kotobase.net/ipfs/bafkreidrokfmsgxrnv335cgtsvkm4ebgjuhzlscuoco3zlbvozonxyvjbi", :size 74883, :put-status 201, :get-status 200, :at "2026-08-15T13:29:03.066Z"}}
